html,form {
	
	margin: 0;
	padding: 5%;
	
}

body {
	
	height: 348px;
	width: 700px;
	margin: 200px auto;
}

.token {
	
	font-size: 1.6em;
	color: sienna;
}

form {
	display: flex;
	box-shadow: 2px 3px 8px black;
	border-radius: 10px;
	flex-flow: column wrap;
	font-size: 15px;
	border-style: inset;
}

form h3 {
	
	color: darkcyan;
	margin: 0 0 20px 0;
	font-size: 1.8em;
	border-bottom: 3px inset;
}

.ip-box {
	
	font-size: 1.1em;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 2px 1px lavender;
	width: auto;
}

.ip-box:hover {
	background-color: whitesmoke;
	border-color: gray;
	box-shadow: 1px 2px 3px gray;
}

label {
	
	display: flex;
}

#btn {
	display: inline;
	width: 100px;
	margin: 0 auto;
	font-size: 1.1em;
	padding: 0;
	font-weight: 700;
	margin-top: 30px;
	border-radius: 4px;
	color:white;
	background-color: dodgerblue;
	box-sizing: border-box;
	border: 0;
}
ion-icon {
	display:inline-block;
	font-size: 48px;
	color: white;
}

ion-icon:hover {
	
	color:#ffd700;
	/*font-size: 56px;*/
	
}

#login {
	
	/*display: none;*/
}

#register {
	
	
	display: none;
}

#register input {
	
	width: 300px;
}

#register button {
	
	width: 130px;
	margin-top: 10px;
	border: 0;
	padding: 2%;
	font-size: 17px;
	color: white;
	background-color: dodgerblue;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	font-family: Open Sans;
}
